APP_ENV=development
APP_PORT=8080
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=scraping_service
MONGO_SCRAPE_LOG_COLLECTION=scrape_logs
ROD_HEADLESS=false
ROD_NAVIGATION_TIMEOUT_SECONDS=30
ROD_ACTION_TIMEOUT_SECONDS=15
